* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #181011;
}

.contenedor {
    display: flex;
    height: 100vh;
    /* Asegura que todo el contenedor use el alto de la pantalla */
}

/* NAV */
.nav {
    background-color: #37474f;
    color: white;
    width: 200px;
    padding: 20px;
    height: 100vh;
    /* Asegura que la barra lateral use el alto completo */
    overflow-y: auto;
    /* Si hay mucho contenido, activa scroll */
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav a:hover {
    color: #FF5252;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    padding: 30px;
    height: 100vh;
    overflow-y: auto;
    /* Permite hacer scroll si el contenido es largo */
}

.contenido h1 {
    color: #FF5252;
}

/* Contenedor vertical de secciones */
.galeria {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

/* Cada sección (part1, part2...) */
.galeria section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título arriba */
.galeria h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FF5252;
    text-align: center;
}

/* Las tarjetas van debajo del título */
.galeria-fila {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


/* Tarjetas generales */
.tarjeta {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    min-width: 150px;
    flex: 1;
    max-width: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.tarjeta:hover {
    transform: scale(1.05);
}

/* Proporciones */
.portada {
    flex: none;
    /* evita que crezca automáticamente */
    background-color: #2933aa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* antes era 150px */
    padding: 70px;
    /* opcional, ajusta si quieres margen interno */
    border-radius: 8px;
    /* opcional, mejora estética */
}

.portada img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}


.protagonista {
    flex: 2;
    background-color: #5e0f99;
}

.sasesinos {
    flex: 1;
    background-color: #343686;
}

.otros {
    background-color: #e60fe4;
}


.curiosidades {
    background-color: #ba68c8;
}

.portada1 {
    background-color: #280d0a;
}

.protagonista1 {
    background-color: #692a0a;
}

.sasesinos1 {
    background-color: #6c180c;
}

.otros1 {
    background-color: #f3b033;
}

.curiosidades1 {
    background-color: #ad4c16;
}




.portada2 {
    background-color: #1d0a09;
}

.protagonista2 {
    background-color: #354d36;
}

.sasesinos2 {
    background-color: #245c48;
}

.otros2 {
    background-color: #ffb74d;
}

.curiosidades2 {
    background-color: #ff8a65;
}